@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins:wght@100&display=swap'); 

/* .App {
  text-align: center;
} */

/* *{
  border: 1px solid red;
} */


body {
  background-color: #282c34;
}

.white{
  font-family: 'Poppins', sans-serif;
}
.white:link{
  color: white;
}
.white:visited{
  color:white;
}
.white:hover{
  color:blue;
}
.white:active{
  color:red;
}

.blue{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a>img{
  width: 75%;
  height: auto;
}

a>img:hover{
  border: 5px solid blue;
  border-radius: 5px 5px 5px 5px;
}

a>img:active{
  border: 5px solid red;
}

.App-header {
  text-align: left;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: 'Playfair Display', serif;
  font-size: calc(21.5px + 2vmin);
  color: white;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
